{% extends 'base.html' %}

{% block title %}
	{{ post.title }}
{% endblock %}

{% block content %}
	<h1>{{ post.title }}</h1>
	<small>By: 
		{{ post.author.first_name }} 
		{{ post.author.last_name }} - 
		<sub>{{ post.post_date }}</sub>  
		{% if user.is_authenticated %}
			{% if user.id == post.author.id %}
				- <a href="{% url 'update_post' post.pk %}">edit</a> -  
				<a style="color: red;" href="{% url 'delete_post' post.pk %}">delete</a>
			{% endif %}
		{% endif %}
	</small><br>
	<hr>
	{% if post.header_image %}
		<img src="{{ post.header_image.url }}"><br><br>
	{% endif %}
	{{ post.body|safe }}  

	<br><br><a class="btn  btn-sm btn-secondary" href="{% url 'home' %}" >Back</a>
	
	<hr><br>
	<form action="{% url 'like_post' post.pk %}" method="POST">
		{% csrf_token %}
		{% if user.is_authenticated %}
			{% if liked %}
				<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-sm btn-danger" >unlike</button> 
			{% else %}
				<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-sm btn-primary" >like</button> 
			{% endif %}
		{% else %}
		<small style="color: gray ;"><a href="{% url 'login' %}">Login</a> <small> to like </small>
		{% endif %}
		- {{ total_likes }} Like{{total_likes|pluralize}} 
	</form>
{% endblock %}


