{% extends 'base.html' %}

{% block content %}
    <h1>Post</h1>

	<ul>
	{% for post in object_list %}
		<li>
		<a href="{% url 'article' post.pk %}">{{ post.title }}</a>
		 ~ <a href="{% url 'category' post.category|slugify %}"> {{ post.category }} </a>
		 - {{ post.author.first_name }} {{ post.author.last_name }} - <small>{{ post.post_date }}</small>
		 <small>
			{% if user.is_authenticated %}
				{% if user.id == post.author.id %}
					<a href="{% url 'update_post' post.pk %}">edit</a> -  
					<a style="color: red;" href="{% url 'delete_post' post.pk %}">delete</a>
				{% endif %}
			{% endif %} 
		 </small>
		 <br>
		{{ post.snippet|safe }}... <!---Display the first 150 charaters in the blog-->
		</li>
	{% endfor %}
	</ul>

{% endblock %}

